{% extends "base.html" %}

{% block content %}
<section class="gallery fade-in">
    <h1>Our Exquisite Ambiance</h1>
    <div class="gallery-container">
        {% for i in range(1, 7) %}
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="Gallery Image {{ i }}" onclick="openLightbox(this)">
        </div>
        {% endfor %}
    </div>
</section>

<!-- Lightbox Modal -->
<div id="lightbox" class="lightbox">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <img class="lightbox-content" id="lightbox-img">
</div>
{% endblock %}
