{% extends "base.html" %}

{% block content %}
<section class="gallery fade-in">
    <h1>Our Exquisite Ambiance</h1>
    <div class="gallery-container">
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="Elegant Restaurant Interior" onclick="openLightbox(this)">
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/outlet.jpg') }}" alt="Our Restaurant Outlet" onclick="openLightbox(this)">
        </div>
        <div class="gallery-item">
            <img src="{{ url_for('static', filename='images/dish.jpg') }}" alt="Signature Dishes" onclick="openLightbox(this)">
        </div>
    </div>
</section>

<!-- Lightbox Modal -->
<div id="lightbox" class="lightbox">
    <span class="close" onclick="closeLightbox()">&times;</span>
    <img class="lightbox-content" id="lightbox-img">
</div>
{% endblock %}
